[user]
	email = lelandmiller@gmail.com
	name = Leland Miller
[push]
	default = simple
[core]
    autocrlf = input
	excludesfile = ~/.gitignore_global
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
